<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Management App</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>

  <body>
    <nav>
      <p><a href="/">Home</a></p>
      <p><a href="/allUsers">All user</a></p>
      <p><a href="/createUser">Create user</a></p>
      <p><a href="/exportUsers">Export users</a></p>

    </nav>
    <div class="container createUser">
      <h1>Welcome to Task Management App</h1>
      <p>This is a simple task management application.</p>
      <p>Use the navigation links above to manage users and tasks.</p>
    </div>
  </body>
</html>
